div {
    position: absolute;
    right: 0;
    top: 150px;
    width: 80%;
  }
    .container {
      display:flex;
      min-height: 100vh;
      flex-direction:row;
    }
    .box { 
      color:white; 
      font-size: 100px; 
      font-family: 'Pacifico', cursive; 
      text-align: center; 
      padding:15px; 
      width: 400px;
    }
    .container{
      display: flex;
      min-height: 100vh;
      flex-wrap: nowrap;
    }
    .box { 
      color:white; 
      font-size: 100px; 
      font-family: 'Pacifico', cursive; 
      text-align: center; 
      padding:15px; 
      width: 33.3333%;   
    }
    .box{color: white; 
      font-size: 30px; font-family: 
      'Pacifico', cursive; 
      text-align: center; 
      padding:15px; 
      flex: 1;}
    .content {
      padding-left: 250px;
    }
      .container2 {
        display: flex;
        flex-direction: column;
      }
      .hide {
        display: none;
      }
    
    h2{
        font-family: 'Pacifico', cursive;
    }
.boxed {
    border: 3px solid white ;
}
body{
    background: url(CSS\ Background.png);
}
body{
    color:white;
}
h2{
    font-family: 'Pacifico', cursive;
}
h2 { text-align: center; }
h1{
    font-family: 'Pacifico', cursive; color:white;
}